<button class="global_menu" aria-controls="GlobalNavigation" type="button" id="MenuButton" aria-labelledby="MenuButtonText">
	<span class="global_menu--line" aria-hidden="true"></span>
	<span class="sr-only" id="MenuButtonText" data-open="メニューを開く" data-close="メニューを閉じる">メニューを開く</span>
</button>
