<nav class="fixed top-0 mt-15 inset-x-0 overflow-y-auto z-globalNavigation" style="opacity: 0; max-height: calc(100% - <%- rem(60) %>);" id="GlobalNavigation">
	<div class="bg-white">
		ここにコンテンツ
	</div>
</nav>
<div class="fixed inset-0 w-screen h-screen z-header" style="opacity: 0; backdrop-filter: blur(3px); background-color: rgba(0,0,0,.2)" aria-hidden="true" id="GlobalNavigationOverlay"></div>
